In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
file1=open('/content/drive/MyDrive/finalmerge.csv')

In [3]:
df=pd.read_csv(file1)

In [42]:

df.shape

(1815405, 51)

In [43]:
df

         Unnamed: 0  Unnamed: 0_x  FlightDate  ...  WindChillF_y  humidity_y  time_y
0                 0            57  2016-01-01  ...            29          66     700
1                 1        219870  2016-01-01  ...            29          66     700
2                 2        356730  2016-01-01  ...            29          66     700
3                 3        334974  2016-01-01  ...            29          66     700
4                 4        356750  2016-01-01  ...            29          66     700
...             ...           ...         ...  ...           ...         ...     ...
1815400     1815400        453453  2017-09-18  ...            69          92    2200
1815401     1815401        455805  2017-09-21  ...            72          75    2200
1815402     1815402        456636  2017-09-22  ...            71          63    2200
1815403     1815403        457242  2017-09-23  ...            86          55    2100
1815404     1815404        458172  2017-09-24  ...            74          87    2200

[1815405 rows x 51 columns]

In [4]:
k=[]
for i in df.ArrDelayMinutes:
  if i>=15:
      app=1      
  else:
      app=0
  k.append(app)

In [5]:
df['TargetDelay']=k

In [47]:


X=df.drop(["ArrDelayMinutes",
                "ArrTime",
                "ArrDel15",
                 "Unnamed: 0_x",
                 "Unnamed: 0_y",
                 "Unnamed: 0.1",
                "Origin",
                "Dest",
                "airport_x",
                "airport_y",
                "FlightDate",
                "date_y",
                "date_x",
                "time_x",
                "time_y",
                "windspeedKmph_y",
                "winddirDegree_y",
                "weatherCode_y",
                "precipMM_y",
                "visibility_y",
                "pressure_y",
                "cloudcover_y",
                "DewPointF_y",
                "WindGustKmph_y",
                "tempF_y",
               "WindChillF_y",
               "humidity_y",
           "TargetDelay","Unnamed: 0"],axis=1)
X
Y=df["TargetDelay"]

In [7]:
from sklearn.model_selection import train_test_split  
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 12)

In [8]:


from sklearn.ensemble import ExtraTreesClassifier
etc=ExtraTreesClassifier(n_jobs=-1,random_state = None)
etc.fit(X_train,Y_train)

ExtraTreesClassifier(n_jobs=-1)

In [9]:
Y_predetc=etc.predict(X_test)

In [29]:
#ACCURACY

0.9169464935705913

In [10]:


from sklearn.metrics import classification_report
target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predetc,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.93      0.95      0.94    358621
     Class 1       0.80      0.74      0.77     95231

    accuracy                           0.91    453852
   macro avg       0.87      0.85      0.86    453852
weighted avg       0.90      0.91      0.91    453852

In [11]:
DecClf=DecisionTreeClassifier()

In [12]:
DecClf.fit(X_train,Y_train)

DecisionTreeClassifier()

In [13]:
Y_predDec=DecClf.predict(X_test)

In [14]:

target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predDec,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.92      0.91      0.92    358621
     Class 1       0.69      0.71      0.70     95231

    accuracy                           0.87    453852
   macro avg       0.80      0.81      0.81    453852
weighted avg       0.87      0.87      0.87    453852

In [25]:
XGBB=XGBClassifier()

In [26]:
XGBB.fit(X_train,Y_train)

XGBClassifier()

In [27]:
Y_predXG=XGBB.predict(X_test)

In [28]:
from sklearn import metrics
cm=metrics.confusion_matrix(Y_test,Y_predXG)
print(cm)

[[351320   7301]
 [ 30393  64838]]

In [30]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_predXG)

0.9169464935705913

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [34]:
rf_clf=RandomForestClassifier(n_estimators = 100)

In [35]:
rf_clf.fit(X_train,Y_train)

RandomForestClassifier()

In [36]:
Y_predRF=rf_clf.predict(X_test)

In [37]:
target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predRF,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.93      0.97      0.95    358621
     Class 1       0.87      0.71      0.78     95231

    accuracy                           0.92    453852
   macro avg       0.90      0.84      0.86    453852
weighted avg       0.91      0.92      0.91    453852

In [39]:
lr=LogisticRegression()

In [40]:
lr.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [41]:
Y_predLR=lr.predict(X_test)

In [42]:
target_names=["Class 0","Class 1"]
print(classification_report(Y_test,Y_predLR,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.91      0.98      0.95    358621
     Class 1       0.90      0.65      0.76     95231

    accuracy                           0.91    453852
   macro avg       0.91      0.82      0.85    453852
weighted avg       0.91      0.91      0.91    453852